.idea
.vscode
.DS_Store

# TypeScript
node_modules
build
.env
.next
package-lock.json
yarn.lock
pnpm-lock.yaml
!typescript/pnpm-lock.yaml
bun.lock
bun.lockb
tsconfig.tsbuildinfo
dist/

# Rust
rust/target
*.swp
*.swo

# Example
rust/example/node_modules
rust/example/pnpm-lock.yaml
